{% extends 'shared/base.html' %}
{% block title %}
    Title is in here
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Good!</strong>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="alert alert-info">
        say something about how thing should go
    </div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="card-body">
                        <h5 class="card-title">Card title <span class="badge bg-danger">Primary</span></h5>
                        <h6 class="card-subtitle text-muted">Accesses Token: alkasjflsajdl</h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>

                        <p class="card-text"><small class="text-muted">Joined 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-lg-8">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10"><h5 class="card-title">Card title </h5></div>
                            <div class="col-2 text-right"><span class="badge bg-danger">Primary</span></div>
                        </div>
                        <h6 class="card-subtitle text-muted">Accesses Token: <mark>alkasjflsajdl</mark></h6>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Joined 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>



    {% if is_deposit_exist_approved %}
        <div class="row">
            {% for access_token in access_tokens %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {% if access_token.user is not None %}
                                    {{ access_token.user.fullname }}
                                {% else %}
                                    not set
                                {% endif %}
                            </h5>
                            <h6 class="card-subtitle">Ac: {{ access_token.access_token }}</h6>
                            <p class="card-text">joined: {{ access_token.user.date_joined|timesince }} ago</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">25%
                                </div>
                            </div>
                            <br>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <input class="form-check-input me-1 check" type="checkbox" value="" aria-label="..."
                                       checked>
                                Register
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Verify
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Deposit
                            </li>
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        You should do the deposit to see AC
    {% endif %}




    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
            so that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>


{% endblock %}