{% extends 'shared/base.html' %}
{% load static %}
{% load financial_tags %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ request.user.fullname }}!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% if is_withdraw_approved %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">You are Rich now!</h4>
            <p>We Transfer <strong>100$ + 100$</strong> to your wallet ID and the hash is <a
                    href="https://tronscan.org/#/transaction/{{ withdraw_approved_hash }}"
                    target="_blank">{{ withdraw_approved_hash }}</a>.</p>
            <hr>
            <p class="mb-0">
                The sequence has been complete, this account is not usable no more.
            </p>
        </div>
        {#    {% elif check_deposit_3_users %}#}
        {#        <div class="alert alert-success" role="alert">#}
        {#            <h4 class="alert-heading">Congratulation!</h4>#}
        {#            <p>Now you are eligible for withdraw request</p>#}
        {#            <hr>#}
        {#            <p class="mb-0"><a href="{% url 'financial:withdraw' %}">Click here</a> to earn your <strong>100$ +#}
        {#                100$</strong>#}
        {#            </p>#}
        {#        </div>#}
    {% elif is_deposit_exist_approved %}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Amazing!</h4>
            <p>Your Deposit has been approved. now you can share your Tokens to your friend to signup</p>
            <hr>
            <p>After conformation of all your user's deposits you are eligible to earn<strong>
                100$ + 100$</strong>
            </p>
        </div>

        {% for access_token in access_tokens %}
            <div class="row">
            <div class="col-md-2"></div>
            <div class="col-lg-8">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    {% if access_token.user is None %}
                                        <h5 class="card-title">*******</h5>
                                    {% else %}
                                        <h5 class="card-title">{{ access_token.user.fullname }}</h5>
                                    {% endif %}
                                </div>
                                {% if access_token.user is None %}
                                    <div class="col-3 text-right"><span class="badge bg-danger">Not Used</span>
                                    </div>
                                {% else %}
                                    {% if access_token.user|deposit_check %}
                                        <div class="col-3 text-right">
                                        <span class="badge bg-success">Deposit Confirm</span>
                                    {% else %}
                                        <div class="col-3 text-right">
                                        <span class="badge bg-primary">Registered</span>
                                    {% endif %}
                                </div>
                                {% endif %}
                                </div>
                                <p class="card-subtitle text-muted">Token:
                                    <mark>{{ access_token.access_token }}</mark>
                                </p>
                                {% if access_token.user.date_joined %}
                                    <p class="card-text"><small class="text-muted">
                                        joined: {{ access_token.user.date_joined|timesince }} ago</small>

                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        {% endfor %}
        <div class="alert alert-secondary">
            <h6 class="alert-heading">Status badge hint</h6>
            <p><span class="badge bg-danger">Not Used</span> This Token has not been used</p>
            <p><span class="badge bg-primary">Registered</span> User is register, but deposit is not confirmed</p>
            <p><span class="badge bg-success">Deposit Confirm</span> Deposit is okay and everything is good to go</p>
        </div>
    {% else %}
        <div class="alert alert-warning">
            you are few step away to <strong>earn your 100$ +100$</strong>!
            <a href="{% url 'financial:deposit' %}">Click here</a> to Charge your account.
            if you requested before please wait for conformation
        </div>
    {% endif %}

<br>

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jszEr-hwU_I"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>

<br>

<div class="text-center">
    <img src="{% static 'media/pic2.jpg' %}" alt="" style="width: 80%">
</div>
<br>

{% endblock %}