{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>{{ mani.title }}</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-7">
            {{ mani.content|safe }}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Launch static backdrop modal
            </button>

            <!-- Modal -->
            <div class="modal modal-lg fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">About Us</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <img src="{% static 'media/1.jpeg' %}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the
                                                bulk
                                                of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="{% static 'media/2.jpeg' %}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the
                                                bulk
                                                of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="{% static 'media/1.jpeg' %}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the
                                                bulk
                                                of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sample card -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Q&A section -->
            <div class="accordion" id="accordionExample">
                {% for qa in qas %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ qa.id }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ qa.id }}" aria-expanded="true" aria-controls="collapse{{ qa.id }}">
                                {{ qa.question }}
                            </button>
                        </h2>
                        <div id="collapse{{ qa.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ qa.id }}"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                 {{ qa.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Links -->
            {% if not request.user.is_authenticated %}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'users:login' %}" class="btn btn-success" type="button">Login</a>
                    <a href="{% url 'users:signup' %}" class="btn btn-warning" type="button">Sign up</a>
                </div>
            {% endif %}



            <!-- Our Team -->
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/1.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Amir Azimi</h5>
                            <h6 class="card-subtitle">CEO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/2.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alireza Khamse</h5>
                            <h6 class="card-subtitle">CTO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/3.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alireza Khamse</h5>
                            <h6 class="card-subtitle">CTO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sara amirian</h5>
                            <h6 class="card-subtitle text-muted">Data Analyser</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/5.jpeg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sara amirian</h5>
                            <h6 class="card-subtitle text-muted">Data Analyser</h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/6.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Reza Golzar</h5>
                            <h6 class="card-subtitle text-muted">Graphic Designer</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/7.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Amir Azimi</h5>
                            <h6 class="card-subtitle">CEO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/8.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alireza Khamse</h5>
                            <h6 class="card-subtitle">CTO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{% static 'media/9.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Alireza Khamse</h5>
                            <h6 class="card-subtitle">CTO</h6>
                            <p class="card-text">Some quick example text to build on the card title and
                                make up the
                                bulk
                                of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>