{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'shared/header.html' %}
    <title>{% block title %}{% endblock %} | Short invest in coin technology</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-12 col-lg-6">

            {% include 'shared/navbar.html' %}

            {% block content %}{% endblock %}

        </div><!-- /col-md-5 Center of the site-->
        <div class="col-lg"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>