{# usage in: login, register, at, manifest, blog and post #}
{# used in thoese pages who user can see when it is not logged in #}
{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex">
<meta name="googlebot" content="noindex">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="icon" href="{% static 'media/logo.png' %}">