<!-- <Navbar> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% url 'financial:deposit' as deposit %}
                    <a class="nav-link {% if request.path == deposit %}active{% endif %}" aria-current="page"
                       href="{% url 'financial:deposit' %}">Deposit</a>
                </li>
                <li class="nav-item">
                    {% url 'financial:withdraw' as withdraw %}
                    <a class="nav-link {% if request.path == withdraw %}active{% endif %}" aria-current="page"
                       href="{% url 'financial:withdraw' %}">Withdraw</a>
                </li>
                <li class="nav-item">
                    {% url 'core:contact' as contact %}
                    <a class="nav-link {% if request.path == contact %}active{% endif %}" aria-current="page"
                       href="{% url 'core:contact' %}">Contact Us</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item"
                                   href="thisispanelarea/">Panel</a></li>
                            {% url 'users:search' as search %}
                            <li><a class="dropdown-item {% if request.path == search %}active{% endif %}"
                                   href="{% url 'users:search' %}">Search</a></li>
                            {% url 'financial:balance' as balance %}
                            <li><a class="dropdown-item {% if request.path == balance %}active{% endif %}"
                                   href="{% url 'financial:balance' %}">Balance</a></li>
                            {% url 'at:at_generator' as at_generator %}
                            <li><a class="dropdown-item {% if request.path == at_generator %}active{% endif %}"
                                   href="{% url 'at:at_generator' %}">TokenGenerator</a></li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% url 'core:manifest' as manifest %}
                        <li><a class="dropdown-item {% if request.path == manifest %}active{% endif %}"
                               href="{% url 'core:manifest' %}">Manifesto</a></li>
                        {% url 'users:profile' as profile %}
                        <li><a class="dropdown-item {% if request.path == profile %}active{% endif %}"
                               href="{% url 'users:profile' %}">Profile</a></li>
                        <li><a class="dropdown-item text-danger" href="{% url 'users:logout' %}">Exit</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- </Navbar> -->
