{# Usage in index, manifesto, login and signup. #}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:login' %}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'users:signup' %}">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'core:manifest' %}">Manifesto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'at:at' %}">Token</a>
    </li>
</ul>
<br>
