{% extends 'shared/base.html' %}
{% load countries %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}

    <h2>Change Password</h2>

    <form action="{% url 'users:change_password' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ change_password_form.old_password.id_for_label }}" class="form-label">Current
                Password: </label>
            {{ change_password_form.old_password|add_error_class:"is-invalid" }}
            {% for error in change_password_form.old_password.errors %}
                <div id="{{ change_password_form.old_password.id_for_label }}" class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="{{ change_password_form.new_password.id_for_label }}" class="form-label">New Password: </label>
            {{ change_password_form.new_password|add_error_class:"is-invalid" }}
            {% for error in change_password_form.new_password.errors %}
                <div id="{{ change_password_form.new_password.id_for_label }}" class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>

        <div class="mb-3">
            <label for="{{ change_password_form.new_re_password.id_for_label }}" class="form-label">Confirm New
                Password: </label>
            {{ change_password_form.new_re_password|add_error_class:"is-invalid" }}
            {% for error in change_password_form.new_re_password.errors %}
                <div id="{{ change_password_form.new_re_password.id_for_label }}" class="invalid-feedback">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        {{ change_password_form.email }}
        <button class="btn btn-lg btn-warning" type="submit">Change Password</button>

    </form>
{% endblock %}