{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="icon" href="{% static 'media/logo.png' %}">
    <title>Login | Short invest in coin technology</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-12 col-xl-6">

            {% include 'shared/tabs.html' %}

            <h1 class="text-center h1">Short Invest in Coin Tech.</h1>

            <img src="{% static 'media/pic3.jpg' %}" alt="" style="width: 100%">

            <div class="alert alert-success">
                <p class="justify-content">
                    Welcome to <b>Short Invest in Coin Technology</b>. We will Invest for you with 100% insurance in
                    Crypto
                    Currency. You are one step away to make your
                    <b>money double (100$ + 100$)</b> in less than <b>24 hours</b> without any knowledge about
                    Crypto. only those who have <a href="{% url 'at:at' %}">token</a> can <a
                        href="{% url 'users:signup' %}">register</a> on the website. read
                    our <a
                        href="{% url 'core:manifest' %}">manifesto</a> for more details.
                </p>
            </div>

            <div class="card">
                <h4 class="card-header">Login to your account</h4>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <strong>Well! </strong>{{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="{% url 'users:login' %}" method="POST">
                        {% csrf_token %}
                        {{ login_form.captcha }}
                        <div class="mb-4 row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-md-10">
                                {{ login_form.email }}
                            </div>
                        </div>
                        <div class="mb-4 row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-md-10">
                                {{ login_form.password }}
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit">Login</button>
                    </form>
                </div>
            </div>


            {#            <hr>#}
            {#            <div class="d-grid gap-2 col-7 mx-auto">#}
            {#                <a href="{% url 'users:signup' %}" class="btn btn-primary" type="button">Register</a>#}
            {#                <a href="{% url 'core:manifest' %}" class="btn btn-outline-warning" type="button">Who we are? and what#}
            {#                    do we do?</a>#}
            {#                <a href="{% url 'at:at' %}" class="btn btn-outline-secondary" type="button">#}
            {#                    Free Token! you might get lucky.#}
            {#                </a>#}
            {#            </div>#}

            <br>

        </div><!-- /col-md-5 Center of the site-->
        <div class="col-sm"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>
