{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Login page</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-5">
            <h3>Login to website name</h3>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Well! </strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        <div class="alert alert-success">
            Login to your account
        </div>
            <form action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        {{ login_form.email }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        {{ login_form.password }}
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Login</button>
            </form>
            <hr>
            <div class="text-center">
                <div class="alert alert-info">if you don't have account please click link below</div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'users:signup' %}" class="btn btn-warning" type="button">Register</a>
                </div>
            </div>
        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>