{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Login | Short invest in coin technology</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-12 col-xl-6">

            {% include 'shared/tabs.html' %}

            <h1 class="text-center h1">Short Invest in Coin Tech.</h1>

            <div class="alert alert-success">
                Make your money double in less than 24 hours - Easy Money.
                <b>Login</b> to your account you are one step away to earn <b>100$ + 100$</b>
            </div>


                        <img src="{% static 'media/pic3.jpg' %}" alt="" style="width: 100%">
            {#            <iframe width="560" height="315" src="https://www.youtube.com/embed/LMmg9tRNmrU"#}
            {#                    title="YouTube video player"#}
            {#                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"#}
            {#                    allowfullscreen style="width: 100%"></iframe>#}

            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Well! </strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

{#            <h2 class="text-center">Login to your account</h2>#}
            <form action="{% url 'users:login' %}" method="POST">
                {% csrf_token %}
                {{ login_form.captcha }}
                <div class="mb-3 row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-md-10">
                        {{ login_form.email }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        {{ login_form.password }}
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Login</button>
            </form>

            {#            <hr>#}
            {#            <div class="d-grid gap-2 col-7 mx-auto">#}
            {#                <a href="{% url 'users:signup' %}" class="btn btn-primary" type="button">Register</a>#}
            {#                <a href="{% url 'core:manifest' %}" class="btn btn-outline-warning" type="button">Who we are? and what#}
            {#                    do we do?</a>#}
            {#                <a href="{% url 'at:at' %}" class="btn btn-outline-secondary" type="button">#}
            {#                    Free Token! you might get lucky.#}
            {#                </a>#}
            {#            </div>#}

            <br>

        </div><!-- /col-md-5 Center of the site-->
        <div class="col-sm"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>
