{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Reset Password</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-5">
            <h3>Reset Password</h3>

            <div class="alert alert-info">
                Please input your Email
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success">Reset</button>
            </form>


        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>