{% extends 'shared/base.html' %}
{% load countries %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Search
{% endblock %}
{% block content %}
    <br>

    <script>
        document.addEventListener('DOMContentLoaded', load)

        function load() {
            document.querySelector('form').onsubmit = function () {
                let search = document.querySelector('#search')
                fetch(`search_query?search=${search.value}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data.users)
                        data.users.forEach(add_user)
                    })
                document.querySelector('#content').innerHTML = ""
                return false
            }
        }

        function add_user(users) {
            const user = document.createElement('button')
            user.className = 'btn btn-link' // change class name
            user.dataset.id = users.id
            user.innerHTML = users.fullname
            document.querySelector('#content').append(user)
        }

        function find_user() {
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelectorAll('[data-id]').forEach(button => {
                    button.onclick = function () {
                        alert('hello')
                    }
                })
            })
        }


    </script>

    <h3>Search for a user</h3>

    <form action="" method="GET">
        {{ search_form.search }}
        <button type="submit" class="btn btn-primary" id="btn">Search</button>
    </form>

    <div id="content"></div>



{% endblock %}