{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Register | Short invest in coin technology</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-12 col-xl-6">
            <br>
            <div class="alert alert-info">
                <h4 class="alert-heading">Register | Short invest in coin technology</h4>
                Check everything before registration, you can't change your information later on
            </div>

            <form method="POST" action="{% url 'users:signup' %}">
                {% csrf_token %}
                {{ register_form.captcha }}
                <div class="mb-3">
                    <label for="{{ register_form.email.id_for_label }}" class="form-label">Email address</label>
                    {{ register_form.email|add_error_class:"is-invalid" }}
                    {% for error in register_form.email.errors %}
                        <div id="{{ register_form.email.id_for_label }}" class="invalid-feedback">
                            {{ error|safe }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.fullname.id_for_label }}" class="form-label">Name</label>
                    {{ register_form.fullname|add_error_class:"is-invalid" }}
                    {% for error in register_form.fullname.errors %}
                        <div id="{{ register_form.fullname.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.phone_number.id_for_label }}" class="form-label">Phone Number</label>
                    {{ register_form.phone_number|add_error_class:"is-invalid"|add_class:'form-control' }}
                    <div id="{{ register_form.phone_number.id_for_label }}" class="form-text">phone number with dial
                        code (e.g. +12125552368).
                    </div>
                    {% for error in register_form.phone_number.errors %}
                        <div id="{{ register_form.phone_number.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.country.id_for_label }}" class="form-label">Country</label>
                    {{ register_form.country|add_error_class:"is-invalid"|add_class:'form-control' }}
                    {% for error in register_form.country.errors %}
                        <div id="{{ register_form.country.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.access_token.id_for_label }}" class="form-label">Token</label>
                    {{ register_form.access_token|add_error_class:"is-invalid" }}
                    <div id="{{ register_form.access_token.id_for_label }}" class="form-text">
                        If you don't have token, check <a href="{% url 'at:at' %}" target="_blank">this page</a> you
                        might get lucky
                    </div>
                    {% for error in register_form.access_token.errors %}
                        <div id="{{ register_form.access_token.id_for_label }}" class="invalid-feedback">
                            {{ error|safe }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.password.id_for_label }}" class="form-label">Password</label>
                    {{ register_form.password|add_error_class:"is-invalid" }}
                    {% for error in register_form.password.errors %}
                        <div id="{{ register_form.password.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.re_password.id_for_label }}" class="form-label">Confirm
                        Password</label>
                    {{ register_form.re_password|add_error_class:"is-invalid" }}
                    {% for error in register_form.re_password.errors %}
                        <div id="{{ register_form.re_password.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit / Register</button>
            </form>
            <hr>

            <div class="text-center">
                <div class="alert alert-info">
                    if already have an account
                </div>
            </div>

            <div class="d-grid gap-2 col-7 mx-auto">
                <a href="{% url 'users:login' %}" class="btn btn-success" type="button">Login</a>
                <a href="{% url 'core:manifest' %}" class="btn btn-outline-warning" type="button" target="_blank">Who we
                    are? and what do
                    we do?</a>
            </div>
            <br>

        </div><!-- /col-md-5 Center of the site-->
        <div class="col-sm"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>