{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Signup page</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-5">

            <h3>Signup to website name</h3>

            <form method="POST" action="{% url 'users:signup' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ register_form.email.id_for_label }}" class="form-label">Email address</label>
                    {{ register_form.email|add_error_class:"is-invalid" }}
                    <div id="email" class="form-text">Be careful, can't change your email address later</div>
                    {% for error in register_form.email.errors %}
                        <div id="{{ register_form.email.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.fullname.id_for_label }}" class="form-label">Name</label>
                    {{ register_form.fullname|add_error_class:"is-invalid" }}
                    {% for error in register_form.fullname.errors %}
                        <div id="{{ register_form.fullname.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.country.id_for_label }}" class="form-label">Country</label>
                    {{ register_form.country|add_error_class:"is-invalid"|add_class:'form-control' }}
                    {% for error in register_form.country.errors %}
                        <div id="{{ register_form.country.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.access_token.id_for_label }}" class="form-label">Access Token</label>
                    {{ register_form.access_token|add_error_class:"is-invalid" }}
                    {% for error in register_form.access_token.errors %}
                        <div id="{{ register_form.access_token.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.password.id_for_label }}" class="form-label">Password</label>
                    {{ register_form.password|add_error_class:"is-invalid" }}
                    {% for error in register_form.password.errors %}
                        <div id="{{ register_form.password.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="{{ register_form.re_password.id_for_label }}" class="form-label">Confirm
                        Password</label>
                    {{ register_form.re_password|add_error_class:"is-invalid" }}
                    {% for error in register_form.re_password.errors %}
                        <div id="{{ register_form.re_password.id_for_label }}" class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <hr>

            <div class="text-center">
                <h5>if already have an account</h5>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'users:login' %}" class="btn btn-warning">
                        Login
                    </a>
                </div>
            </div>

        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>