{# todo: list of aceesses token that doesnt belong to anyone #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Accesses Tokens</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-5">
            <h1>Accesses Tokens</h1>

            <p>you can see list of AT's in this page</p>
            <p>sometime to control our scity we generate some accesses token
                witch you can see them in here</p>
            <p></p>
            <div class="text-center">
                <a class="btn btn-outline-secondary" href="{% url 'users:signup' %}">Register with Accesses
                    Token</a>
                <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Login</a>
                <a class="btn btn-outline-dark" href="{% url 'core:manifest' %}">Manifest</a>
            </div>

            <br>

            {% if at_list %}
                <ul>
                    {% for at in at_list %}
                        <li>{{ at.access_token }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>no token available</p>
            {% endif %}


        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
</body>
</html>