{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Accesses Tokens</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-5">

            <br>

            <div class="alert alert-secondary" role="alert">
                <h1 class="alert-heading">Tokens</h1>
                <p>We create random tokens to control increase of our users, this prevents
                    excessive registration and pressure on the project infrastructure. You can see the list of tokens on
                    this page.</p>
            </div>


            {% if request.user.is_superuser %}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="/admin" class="btn btn-success" type="button">Admin</a>
                </div>
            {% elif not request.user.is_authenticated %}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'users:login' %}" class="btn btn-success" type="button">Login</a>
                    <a href="{% url 'users:signup' %}" class="btn btn-warning" type="button">Sign up</a>
                </div>
            {% else %}
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="{% url 'home' %}" class="btn btn-outline-primary" type="button">Home</a>
                    <a href="{% url 'financial:deposit' %}" class="btn btn-outline-success" type="button">Deposit</a>
                </div>
            {% endif %}

            <br>

            {% if at_list %}
                <ul>
                    {% for at in at_list %}
                        <li>{{ at.access_token }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    <strong>Sorry</strong> there is no token available! check this page later.
                </div>
            {% endif %}


        </div><!-- /col-md-5 Center of the site-->
        <div class="col col-lg-2"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
</body>
</html>