{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Accesses Tokens</title>
</head>
<body>
<div class="container">


    <div class="row">
        <div class="col-sm"></div>
        <div class="col-md-12 col-xl-6">

            {% if request.user.is_authenticated %}
                {% include 'shared/navbar.html' %}
            {% else %}
                {% include 'shared/tabs.html' %}
            {% endif %}

            <h1 class="text-center h1">Short Invest in Coin Tech.</h1>

            <div class="alert alert-secondary" role="alert">
                <h1 class="alert-heading">Free Tokens</h1>
                <p>We Generate random free tokens to control increase of our users, this prevents
                    excessive registration and pressure on the project infrastructure. You can see the list of tokens on
                    this page.</p>
            </div>

            <br>
            {% if at_list %}

                <ul>
                    {% for at in at_list %}
                        <li>{{ at.access_token }}</li>
                    {% endfor %}
                </ul>

                {% if not request.user.is_authenticated %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="{% url 'users:signup' %}" class="btn btn-primary" type="button">Register</a>
                    </div>
                {% endif %}

            {% else %}
                <div class="alert alert-danger">
                    <strong>Sorry</strong> there is no free token available! check this page later.
                </div>
            {% endif %}

        </div><!-- /col-md-5 Center of the site-->
        <div class="col-sm"></div>
    </div><!-- /row justify-content-md-center -->
</div><!-- /container -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/popper.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
</body>
</html>