{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Accesses Token Generator
{% endblock %}
{% block content %}

    <h2>Accesses Token Generator</h2>
    <hr>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong> has been created
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <p>Click button bellow to generate new token who doesn't belong to anyone.</p>
    <form action="{% url 'at:at_generator' %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-lg btn-primary">
            Generate new token
        </button>
    </form>



{% endblock %}