{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Deposit
{% endblock %}
{% block content %}

    <br>

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if deposit_is_approved %}
        <div class="alert alert-success ">
            <h4 class="alert-heading">Deposit is Approved</h4>
            <p>Now you can share your Tokens to your friend and earn
                <strong>100$ + 100$</strong>
            </p>
        </div>
    {% elif deposit_exist %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Hash</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for deposit in deposit_list %}
                <tr>
                    <td>{{ deposit.hash|truncatechars:10 }}</td>
                    <td>{{ deposit.date|timesince }} ago</td>
                    {% if deposit.is_approved and not deposit.is_decline %}
                        <td class="table-success">Confirm</td>
                    {% elif not deposit.is_approved and deposit.is_decline %}
                        <td class="table-danger">Rejected</td>
                    {% else %}
                        <td class="table-warning">Waiting</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not is_deposit_exist_approved %}
        <div class="alert alert-info ">
          <h3 class="alert-heading">Deposit</h3>
            Transfer <b>100 Tether (TRC20)</b> to wallet ID bellow and submit the form with
            transaction HASH. sending any other coin may result in permanent loss
        </div>
        <div class="text-center">
            <h5 class="underline">
                <mark>TW4833o5EDR93aS56xjAYh8B8aELhRc2UH</mark>
            </h5>
        </div>
        <br>
        <form action="{% url 'financial:deposit' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ deposit_form.hash.id_for_label }}" class="form-label">HASH or TXID Address: </label>
                {{ deposit_form.hash|add_error_class:"is-invalid" }}
                {% for error in deposit_form.hash.errors %}
                    <div id="{{ deposit_form.hash.id_for_label }}" class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    {% endif %}




{% endblock %}