{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Withdraw
{% endblock %}
{% block content %}

    <br>

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% if is_withdraw_approved %}
        <div class="alert alert-success" role="alert">
            <h3 class="alert-heading">Withdraw completed</h3>
            <p>Transaction ID is <a href="https://tronscan.org/#/transaction/{{ withdraw_approved_hash }}"
                                    target="_blank">{{ withdraw_approved_hash|truncatechars:30 }}</a>. </p>
        </div>
    {% elif is_withdraw_ok and not is_withdraw_exist_approved %}
        {#        todo: (Bug) if admin approve users withdraw request and after decline it, user cant request again! #}
        {#        this problem happens on localhost not the server#}
        <div class="card text-bg-primary">
            <h4 class="card-header">Withdraw</h4>
            <div class="card-body">
                Give us a valid wallet ID and we will transfer <strong>100$ + 100$</strong> to your name
            </div>
        </div>
        <form action="{% url 'financial:withdraw' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ withdraw_form.wallet_id.id_for_label }}" class="form-label">Wallet ID: </label>
                {{ withdraw_form.wallet_id|add_error_class:"is-invalid" }}
                {% for error in withdraw_form.wallet_id.errors %}
                    <div id="{{ withdraw_form.wallet_id.id_for_label }}" class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
                <div id="hash-help" class="form-text">Please be careful with wallet ID, it's not changeable</div>
            </div>
            <button type="submit" class="btn btn-outline-success btn-lg">
                Request Withdraw
            </button>
        </form>
    {% elif is_withdraw_exist_approved and is_withdraw_ok %}
        <div class="alert alert-warning">
            you can see the withdrawal status in list below
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Hash</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for withdraw in withdraw_list %}
                <tr>
                    <td>
                        {% if withdraw.hash is None %}
                            -
                        {% else %}
                            {{ withdraw.hash }}
                        {% endif %}
                    </td>
                    <td>{{ withdraw.date|timesince }} ago</td>
                    {% if withdraw.is_approved and not withdraw.is_decline %}
                        <td class="table-success">Confirm</td>
                    {% elif not withdraw.is_approved and withdraw.is_decline %}
                        <td class="table-danger">Rejected</td>
                    {% else %}
                        <td class="table-warning">Waiting</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="card text-bg-warning">
            <h4 class="card-header">Withdraw</h4>
            <div class="card-body">
                if you are eligible for withdraw request you can see the form. please before that be sure Deposit of you
                and 3 other users are confirmed.
            </div>
        </div>
    {% endif %}

{% endblock %}